<div class="component-container">
    <div class="window-container">
        <h1 class="centered centered-text">Battlepass</h1>
        <h2 class="centered centered-text">You have {{points}} points</h2>
        <div class="battlepass-container">
            <div class="battlepass-column battlepass-column-free">
                <h2 class="centered-text">Free</h2>
                <div *ngFor="let item of freeItems" class="battlepass-item centered-text" [ngClass]="{'battlepass-item-premium': item.isPremium, 'battlepass-item-completed': item.owned}" (click)="verifyClaim(item)">
                    <p *ngIf="!item.isPremium" class="battlepass-item-title">{{item.title}}</p>
                    <p *ngIf="!item.isPremium" class="battlepass-item-points"> {{item.cost}} points</p>

                    <div *ngIf="item.isPremium" class="battlepass-item-premium-inner">
                        <p class="battlepass-item-title">{{item.title}}</p>
                        <p class="battlepass-item-points">{{item.cost}} points</p>
                    </div>  
                </div>
            </div>
            <div class="battlepass-column">
                <h2 class="centered-text">Free++</h2>
                <div *ngFor="let item of paidItems" class="battlepass-item centered-text" [ngClass]="{'battlepass-item-premium': item.isPremium, 'battlepass-item-completed': item.owned}" (click)="verifyClaim(item)">
                    <p *ngIf="!item.isPremium" class="battlepass-item-title">{{item.title}}</p>
                    <p *ngIf="!item.isPremium" class="battlepass-item-points"> {{item.cost}} points</p>
                    
                    <div *ngIf="item.isPremium" class="battlepass-item-premium-inner">
                        <p class="battlepass-item-title">{{item.title}}</p>
                        <p class="battlepass-item-points">{{item.cost}} points</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>    

    <div class="bar-container">
        <app-bottom-bar currentPage="battlepass"></app-bottom-bar>
    </div>
</div>
<div class="status-container" *ngIf="currentPageState != pageState.idle">
    <div class="status-window">
        <div class="status-content" *ngIf="currentPageState == pageState.loading">
            <h1 class="centered-text">Loading...</h1>
            <div class="status-loading">
                <app-loading></app-loading>
            </div>
        </div>
        <div class="status-content" *ngIf="currentPageState == pageState.error || currentPageState == pageState.success">
            <h1 class="centered-text" *ngIf="currentPageState == pageState.error">Ooops</h1>
            <h1 class="centered-text" *ngIf="currentPageState == pageState.success">Hooray</h1>
            <p class="centered-text">{{pageText}}</p>
            <div class="status-button">
                <app-submit-button [buttonText]="'Ok'" [buttonState]="pageState.idle" (onClick)="currentPageState = pageState.idle"></app-submit-button>
            </div>
        </div>
    </div>
</div>