.button{
    &-container{
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 45px;
    }
    &-elem{
        width: 50%;
        min-width: 300px;
        min-height: 50px;
    }
}

.window-container{
    height: auto!important;
    min-height: 0px !important;
    padding-bottom: 450px !important;
}   