<div class="displayed-status-container">
    <h1>Status</h1>
    <div>
        <p>Happiness</p>
        <div class="displayed-status-bar-border">
            <div class="displayed-status-bar-progress" [ngStyle]='{"width": happiness+"%"}'>
            <!-- <div class="displayed-status-bar-progress" [ngStyle]='{"width": width+"%"}' (click)="updateStatus()"> -->
            </div>
        </div>
    </div>

    <div>
        <p>Cleanliness</p>
        <div class="displayed-status-bar-border">
            <div class="displayed-status-bar-progress" [ngStyle]='{"width": cleanliness+"%"}'>
            <!-- <div class="displayed-status-bar-progress" [ngStyle]='{"width": width+"%"}' (click)="updateStatus()"> -->
            </div>
        </div>
    </div>

    <div>
        <p>Hunger</p>
        <div class="displayed-status-bar-border">
            <div class="displayed-status-bar-progress" [ngStyle]='{"width": hunger+"%"}'>
            <!-- <div class="displayed-status-bar-progress" [ngStyle]='{"width": width+"%"}' (click)="updateStatus()"> -->
            </div>
        </div>
    </div>


    <div>
        <p>Healthiness</p>
        <div class="displayed-status-bar-border">
            <div class="displayed-status-bar-progress" [ngStyle]='{"width": healthiness+"%"}'>
            <!-- <div class="displayed-status-bar-progress" [ngStyle]='{"width": width+"%"}' (click)="updateStatus()"> -->
            </div>
        </div>
    </div>
</div>